@import '../../scss/variables.scss';

.button {
  padding: 10px 39px;
  font-weight: 500;
  font-size: $font-size-main;
  color: $button-normal-text-color;
  background: $button-normal-bg-color;
  border-radius: 6px;
}
