@import '../../scss/variables.scss';

.button {
  padding: 10px 39px;
  font-weight: 500;
  font-size: $font-size-18-px;
  border-radius: 6px;
}

.light {
  color: $accent-color;
  background: $white-color;
  border: 1px solid $light-color;
}

.dark {
  color: $light-color;
  background: $accent-color-dark;
  border: 1px solid $light-color;
}
