@import '../../scss/variables.scss';

.navigation {
  flex-grow: 1;

  @media (max-width: 992px) {
    display: none;
  }
}

.list {
  display: flex;
  justify-content: flex-end;
  column-gap: 56px;
}

.link {
  position: relative;
  font-weight: $font-weight-500;
  font-size: $font-size-18-px;
  color: $light-color;
}

.active {
  font-weight: $font-weight-700;
  color: $white-color;
}

.bakers::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -17px;
  transform: translateY(-50%);
  border-top: 7px solid $light-color;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
