@import '../../scss/variables.scss';

.breadcrumb {
  margin-left: 8px;
  font-weight: $font-weight-400;
  font-size: $font-size-18-px;
}

.active {
  // margin-left: 8px;
  font-weight: $font-weight-600;
}

.light {
  color: $dark-color;
}

.dark {
  color: $light-color;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 50px;
}

.icons-social-arrow {
  font-size: 9px;
}
