@import '../../scss/variables.scss';

.main {
  padding: 50px 0 110px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.icons-social-arrow {
  font-size: 9px;
}

.light {
  background: url(../../../public/img/bg-dots.png) center center/cover no-repeat;
  background-color: $main-background-color;

  .icons-social-arrow {
    color: $main-text-color;
  }
}

.dark {
  // background: lightgray url(../../../public/img/bg-dots.png) 50% / cover no-repeat;
  // background-color: #1E1C37;

  background: url(../../../public/img/bg-dots.png) center center / cover
      no-repeat,
    $main-background-color-dark;
  background-color: lightgray;

  // background-image: url(../../../public/img/bg-dots.png);

  // background-color: rgba(23, 21, 49, 0.93);
  // background: linear-gradient(132deg, #171531 0%, rgba(23, 21, 49, 0.93) 100%);
  // background-image: linear-gradient(132deg, #171531 0%, rgba(23, 21, 49, 0.93) 100%),
  //  url(../../../public/img/bg-dots.png);

  .icons-social-arrow {
    color: $main-text-color-dark;
  }
}
