.title {
  margin-top: 80px;
}

.table {
  margin-top: 60px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-top: 50px;
}

.icons-social-arrow {
  font-size: 9px;
}