@import '../../scss/variables.scss';

.links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 16px;
  width: 333px;

  @media (max-width: 425px) {
    display: none;
  }
}

.link {
  width: 79px;
  font-weight: $font-weight-500;
  font-size: $font-size-14-px;
  color: $light-color;
}
