@import '../../scss/variables.scss';

.footer {
  padding: 30px 0 30px;
  margin-top: auto;
  min-height: 90px;
}

.inner {
  position: relative;
}

.logo {
  position: absolute;
  right: 30px;
  bottom: 5px;
  text-align: right;

  @media (max-width: 992px) {
    position: static;
    margin-top: 30px;
  }

  @media (max-width: 425px) {
    text-align: center;
  }
}

.center {
  text-align: center;
}

.copyright {
  margin-top: 14px;
  text-align: center;
  padding: 10px 0;
  font-weight: $font-weight-500;
  font-size: $font-size-14-px;
  color: $light-color;

  @media (max-width: 992px) {
    margin-top: 30px;
    padding: 0;
  }
}

.light {
  background-color: $accent-color;
}

.dark {
  background-color: $accent-color-dark;
}
