@import '../../scss/variables.scss';

.footer {
  padding: 30px 0 30px;
  background-color: $accent-background-color;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 190px;
}

.copyright {
  flex: 1 1 auto;
  text-align: center;
  align-self: flex-end;
  padding: 10px;
  font-weight: $font-weight-500;
  font-size: $font-size-14-px;
  color: $header-and-footer-text-color;
}

.logo {
  text-align: right;
  width: 330px;
  align-self: flex-end;
}
