@mixin media($mod: max, $size) {
  @media (#{$mod}-width: $size) {
    @content;
  }
}

/* flex properties */

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//@extend %name

%absolute {
  position: absolute;
}

%absolute-center {
  @extend %absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%fixed {
  position: fixed;
}

%fixed-center {
  @extend %absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}