$main-font-family: 'Montserrat';

$font-size-12-px: 12px;
$font-size-13-px: 13px;
$font-size-14-px: 14px;
$font-size-16-px: 16px;
$font-size-18-px: 18px;
$font-size-24-px: 24px;
$font-size-32-px: 32px;

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$light-color: #f0f2f4;
$white-color: #ffffff;
$blue-color: #536dfb;
$dark-color: #2d3b59;

$accent-color: #274673;
$accent-color-dark: #1e1c37;
$table-border-color: #d9dff8;

$hint-color: rgba(45, 59, 89, 0.6);
$privacy-hint-color: #536dfbcc;
$eyes-icon-color: rgba(45, 59, 89, 0.4);
$error-color: #ff3b30;

// Light theme
$main-background-color: #ecf0f9;
$table-row-border-color: rgba(217, 223, 248, 0.65);
$table-box-shadow-color: rgba(217, 223, 248, 0.35);
$table-active-row-color: rgba(236, 240, 249, 0.75);

// Dark theme
$table-box-shadow-color-dark: rgba(31, 35, 46, 0.55);
$table-head-border-color-dark: rgba(39, 70, 115, 0.8);
$table-row-border-color-dark: rgba(39, 70, 115, 0.65);
$table-background-color-dark: #25233d;
$table-active-row-color-dark: #2e2b4d;
$main-background-color-dark: linear-gradient(
  142.24deg,
  #171531 0%,
  rgba(23, 21, 49, 0.93) 93.7%
);

$index-1: 1; // Для наповзаючих елементів у загальному потоці
$index-2: 2; // Для наповзаючих елементів у загальному потоці
$index-3: 3; // Для масок
$index-4: 4; // Для сайдбарів
$index-5: 5; // Для модалок
$index-6: 6; // Для елементів перекривающих все

$mouseDevice: '(hover: hover) and (pointer: fine)'; // Медіазапит обирає тільки мишки і тачпад
