@import '../../scss/variables.scss';

.row {
  display: flex;
  align-items: center;
  column-gap: 32px;
  min-height: 60px;
  padding: 20px 10px;
  border-bottom: 1px solid $table-row-border-color;

  &:last-child {
    border-bottom: none;
  }
}

.active {
  background-color: $table-active-row-color;
}

.data {
  font-weight: $font-weight-400;
  font-size: $font-size-main-small;
  color: $main-text-color;

  &:nth-child(1) {
    width: 130px;
    color: $accent-text-color;
  }

  &:nth-child(2) {
    width: 137px;
  }

  &:nth-child(3) {
    display: flex;
    column-gap: 12px;
    width: 152px;
    color: $accent-text-color;
  }

  &:nth-child(4) {
    width: 131px;
  }

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    width: 130px;
  }

  &:nth-child(8) {
    width: 140px;
  }
}
